
.avatar{
    font-size: 3.5rem;
    &.color1{
        color: #FFA500;
    }
    &.color2{
        color: #800080;
    }
    &.color3{
        color: #DC143C;
    }
    &.color4{
        color: #0000CD;
    }
    &.color5{
        color: #FF6347;
    }
    &.color6{
        color: #008000;
    }
    &.color7{
        color: #9ACD32;
    }
    &.color8{
        color: #FFD700;
    }
    &.color9{
        color: #000000;
    }
    &.color10{
        color: #008B8B;
    }
    &.color11{
        color: #8A2BE2;
    }
    &.color12{
        color: #FF00FF;
    }
}