

$hue: 35;
$first-color: hsl($hue, 100%, 50%);
$second-color: complement($first-color);

$first-neutral: mix($second-color, $first-color, 15%);
$first-neutral-highlight: lighten($first-neutral, 40);
$first-neutral-shadow: darken($first-neutral, 30);

$second-neutral: mix($first-color, $second-color, 30%);
$second-neutral-highlight: lighten($second-neutral, 40);
$second-neutral-shadow: darken($second-neutral, 30);


//TODO: Calculate accent color and pick a different link color
$linkColor: #004865;
$accent: #f0ad4e;

a{
  color: #00B7FF
}

th {
    background-color: $second-neutral-highlight;
    color: black;
}

.log-in{
    float: right;
}

.log-out{
  font-size: 1.5rem;
  font-weight: normal;
  color: white;
}

.admin-link{
  color: white;
  font-size: 1.5rem;
  .fa{
    margin-right: 5px;
  }
  &:hover{
    color: white;
  }
}

header{
    background: $second-neutral-shadow;
    color: black;
    padding: 10px;
}

footer{
    background: $second-neutral-shadow;
    color: white;
    padding: 10px;
    margin-top: 2rem;
    .fa{
      margin-right: 5px;
    }
    a{
      color: white;
      font-size: 1.5rem;
      &:hover{
        color: white;
      }
    }
}

.title-bar{
  background: $second-neutral-highlight;
  text-align: center;
  padding: 15px 0px;
  color: $second-neutral-shadow;
  font-size: 3.5rem;
  font-weight: bold;
  .app-title{
    color: $second-neutral-shadow;
  }
}

.search-bar{
    position: relative;
    width: 300px;
    input{
        width: 100%;
        border: 2px solid $accent;
    }
    .icon{
        background: none;
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 20px;
    }
}

.logo{
    margin-right: 5px;
}

.idea{
    margin-top: 2rem !important;
    .idea-stats{
      .fa{
        margin-right: 3px;
        margin-left: 3px;
      }
      .creation-date{
        margin-left: 3px;
      }
    }
}
.vote-count-box{
   background: $second-neutral-highlight;
   line-height: 60px;
   width: 60px;
   text-align:center;
   display: block;
   border: 2px solid black;
   .vote-count{
        text-align: center;
        font-size: 3rem;
   }
}

.voting-buttons{
    margin-top: 5px;
    .btn{
        background-color: $second-neutral-highlight;
        border-color: darken($second-neutral-highlight, 5%);
        color: #2f486a;
        margin: 2px;
        &.selected{
          background-color: $accent;
          color: black;
          border: 2px solid darken($accent, 5%);
          &:hover{
            background-color: darken($accent, 10%);
            border-color: darken(darken($accent, 5%), 12%);
          }
        }
    }
}

.comment-list{
  margin-top: 6rem;
  ul li{
    border: 1px solid lightgray;
    padding: 5px;
  }
  .comment-title{
    font-size: 2rem;
    margin-bottom: 0px;
  }
  .comment-age{
    font-size: 1rem;
  }
  .comment-icon{
    font-size: 3rem;
  }

  .reply-link{
    cursor: pointer;
    .fa{
      margin-right: 3px;
    }
  }
}

.top-buffer{
  margin-top: 2rem;
}

.new-indicator{
  border: 2px solid $accent;
  padding: 3px;
  border-radius: 5px;
}

.create-date{
  font-size: 1rem;
  margin-left: 3px;
}

.item-list{
  border-right: 1px solid #ccc;
  .hidden{
    visibility: hidden;
  }
}

//bootstrap overrides
.btn-warning{
  color: black;
  &:hover{
    color: black;
  }
}
