

$hue: 35;
$first-color: hsl($hue, 100%, 50%);
$second-color: complement($first-color);

$first-neutral: mix($second-color, $first-color, 15%);
$first-neutral-highlight: lighten($first-neutral, 40);
$first-neutral-shadow: darken($first-neutral, 30);

$second-neutral: mix($first-color, $second-color, 30%);
$second-neutral-highlight: lighten($second-neutral, 40);
$second-neutral-shadow: darken($second-neutral, 30);


//TODO: Calculate accent color and pick a different link color
$linkColor: #004865;
$accent: #f0ad4e;

html{
  height:100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#content{
  flex: 1;
}
a{
  color: #00B7FF
}

th {
    background-color: $second-neutral-highlight;
    color: black;
}

.log-in{
    float: right;
}

.log-out{
  font-size: 1.5rem;
  font-weight: normal;
  color: white;
  a{
    margin: 0px 5px;
  }
}

.admin-link{
  color: white;
  font-size: 1.5rem;
  .fa{
    margin-right: 5px;
  }
  &:hover{
    color: white;
  }
}

header{
  display: block;
  background: $second-neutral-shadow;
  color: black;
  padding: 10px;

  @media (max-width : 768px) {
   
  display: none;

  }
}

footer{
    background: $second-neutral-shadow;
    color: white;
    padding: 10px;
    margin-top: 2rem;
    .fa{
      margin-right: 5px;
    }
    a{
      color: white;
      font-size: 1.5rem;
      &:hover{
        color: white;
      }
    }
}

.title-bar{
  background: $second-neutral-highlight;
  text-align: center;
  padding: 15px 0px;
  color: $second-neutral-shadow;
  font-size: 3.5rem;
  font-weight: bold;
  .app-title{
    color: $second-neutral-shadow;
  }
  .hamburger{
    display: none
  }
  @media (max-width : 768px) {
    & {
      text-align: left;
      font-size: 3rem;
      padding: 12px;
      .hamburger{
        display: block;
        padding: 5px;
        color: $second-neutral-shadow;
        cursor: pointer;
      }
    }
  }
  @media (max-width : 480px) {
    & {
      text-align: left;
      font-size: 2.5rem;
      padding: 10px;
      .hamburger{
        padding: 5px;
      }
    }
  }
}

$menu-width: 250px;

.mobile-drawer{
  background: $second-neutral-shadow;
  color: white;
  display: block;
  position: fixed;
  top: 0px;
  width: $menu-width; 
  right: $menu-width*-1;
  height: 100%;
  z-index: 2;
  box-sizing: border-box;
  transition: transform ease 250ms;

  &.visible{
    transform: translate3d($menu-width*-1, 0, 0);
  }

  .mobile-drawer-title{
    text-align: center;
    padding-bottom: 1rem;
  }

  ul{
    list-style: none;
    padding: 0;
    .drawer-menu-item{
      padding: 1.5rem 1.8rem;
      display: block;
      font-size: 1.8rem;
      color: white;
      text-decoration: none;
      border-top: 1px solid lighten($second-neutral-shadow, 10);
      border-bottom: 1px solid darken($second-neutral-shadow, 10);
      &:hover{
        background: darken($second-neutral-shadow, 5);
      }
    }
    li:first-child .drawer-menu-item {
        border-top: 0px;
    }
  }
}

.search-bar{
    position: relative;
    width: 300px;
    input{
        width: 100%;
        border: 2px solid $accent;
    }
    .icon{
        background: none;
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 20px;
        border: none;
    }
}

.add-new{
  float: right;
  @media (max-width : 768px) {
    & {
      float: none;
      margin-top: 1rem;
    }
  }
}

.logo{
    margin-right: 5px;
}

.idea{
    margin-top: 2rem !important;
    .idea-stats{
      .fa{
        margin-right: 3px;
        margin-left: 3px;
      }
      .creation-date{
        margin-left: 3px;
      }
    }
    h4.media-heading{
      display: inline-block;
    }
}

.stage{
  margin-left: 10px;
  border: 1px solid black;
  padding: 2px;
  border-radius: 5px;
  background-color: lighten($first-color, 35);
  white-space: nowrap;
}

.idea-category{
  .category-label{
    font-weight: bold;
    margin-right: 3px;
  }
}

.stage-label, .votes-label, .views-label, .date-label, .creator-label, .description-label, .attachments-label{
  font-weight: bold;
  margin-right: 3px;
}

.edit-button{
  margin-top: 20px;
  margin-bottom: 10px;
}

.back-icon{
  font-size: 3rem;
  margin-right: 10px;
  cursor: pointer;
}

.vote-count-box{
   background: $second-neutral-highlight;
   line-height: 60px;
   width: 60px;
   text-align:center;
   display: block;
   border: 2px solid black;
   .vote-count{
        text-align: center;
        font-size: 3rem;
   }
}

.voting-buttons{
    margin-top: 5px;
    .btn{
        background-color: $second-neutral-highlight;
        border-color: darken($second-neutral-highlight, 5%);
        color: #2f486a;
        margin: 2px;
        &.selected{
          background-color: $accent;
          color: black;
          border: 2px solid darken($accent, 5%);
          &:hover{
            background-color: darken($accent, 10%);
            border-color: darken(darken($accent, 5%), 12%);
          }
        }
    }
}

.attachment-icon{
  margin-right: 5px;
}

.view-idea-title{
  display: inline-block;
}

.view-idea-stats{
  span{
    margin: 0px 5px;
  }
}


.comment-list{
  margin-top: 6rem;
  ul li{
    border-top: 1px solid lightgray;
    padding: 5px;
  }
  .comment-title{
    font-size: 1.8rem;
    margin-bottom: 0px;
    text-transform: capitalize;
    font-weight: 500;
  }
  .comment-age{
    font-size: 1.2rem;
    color: #4c4c4c;
    margin-left: 10px;
  }

  .reply-link, .flag{
    cursor: pointer;
  }

  .spacer{
    margin: 0px 5px;
  }
  .toggle-replies{
    margin-top: 1rem;
    .replycon{
      margin-right:5px;
    }
  }
  .flag.on{
    color: red;
  }

  .recent-edit{
    font-style: italic;
  }

  .edit-comment{
    width: 100%;
  }
  .edit-buttons{
    button{
      margin: 0px 2px;
    }
  }
 
  .reply-list{
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    .avatar{
      font-size: 3rem;
    }

    .reply{
      border-top: 1px solid lightgray;
      padding: 5px;
    }
  }

  .admin-buttons{
    float: right;
    button{
      .fa{
        margin-right: 3px;
      }
    }
    @media (max-width : 768px) {
      & {
        float: none;
      }
    }
  }
 }

.comment-approved {
  color: green;
  font-size: 2rem;
}

.top-buffer{
  margin-top: 2rem;
}

.new-indicator{
  border: 2px solid $accent;
  padding: 3px;
  border-radius: 5px;
  display:inline-block;
  .reply-actions &{
    margin-right: 5px;
  }
}

.reply-actions{
  float: right;
  .flagged-reply{
    color: red;
    .fa{
      margin-right: 3px;
    }
  }
}

.edit-reply-list{
  clear: both;
  .media{
    border-top: 1px solid lightgray;
    padding: 5px;
  }
}

.create-date{
  font-size: 1rem;
  margin-left: 3px;
}

.item-list{
  .media.selected{
    background-color: $second-neutral-highlight;
  }
  border-right: 1px solid #ccc;
  .hidden{
    visibility: hidden;
  }
}

.btn-voting-save{
  margin-top: 5px;
}

//admin
.idea-detail-category{
  font-size: 1.5rem;
  margin-left: 5px;
  font-weight: normal;
}

.idea-detail-creator{
  font-size: 1.5rem;
}

.idea-detail-age{
  margin-left: 5px;
  font-size: 1rem;
}

.idea-detail-description{
  margin-top: 0.5rem;
}

.edit-idea, .approve-idea {
  .fa{
    margin-right: 5px;
  }
}

.approve-idea{
  margin-top: 4rem;
}

.contact-user{
  margin-top: 2rem;
  p{
    font-weight: bold;
    font-size: 1.5rem;
  }
}

.attachment-dropzone{
  border: 2px dashed darkgray;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
width: 30%;
}

.attachment-header{
  font-weight: bold;
}

.errorMsg{
    color: #a94442;
    font-weight: bold;
    margin-left: 20px;
}

.has-warning #categories{
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #c0a16b;
}

.admin-form-buttons{
  .save{
    margin-right: 5px;
  }
}

.comment-title-admin{
  font-size: 1.5rem;
  margin-bottom: 0px;
  text-transform: capitalize;
}

.idea-table-header{
  background-color: $second-neutral-highlight;
  font-weight: bold;
  padding: 8px;
  @media (max-width : 768px) {
    display: none;
  }
}

.delete-item{
  i{
    cursor: pointer
  }
}

.edit-ideas{
  padding-bottom: 20px;
  &.idea-table-row-stripe{
    background-color: #f9f9f9;
  }
  .idea-small-label{
    font-weight: bold;
    margin-right: 5px;
  }
  .data-label{
    display: none;
    @media (max-width : 768px) {
      display: inline-block;
      font-weight: bold;
      margin-right: 5px;
    }
  }
}

.show-label{
  font-weight: bold;
}

.yes-icon{
  color: green;
}

.no-icon{
  color: #a94442;
}

.user-form-checkbox{
  margin-left: 5px !important;
}

//styles for delete stage/category reassignment modal
.item-reassignment-modal{
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}

.item-reassignment-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(23, 36, 54, 0.75);
}

//bootstrap overrides
.btn-warning{
  color: black;
  &:hover{
    color: black;
  }
}

.ReactModalPortal{
  label{
    margin-right: 3px;
  }
  .modalButtons{
    margin-top: 5px;
    button{
      margin-right: 5px;
    }
  }
}

@import 'icons';