a {
  color: #00B7FF; }

th {
  background-color: #ece6ff;
  color: black; }

.log-in {
  float: right; }

header {
  background: #ece6ff;
  color: black;
  font-size: 3rem;
  font-weight: bold;
  padding: 15px; }
  header .app-title {
    color: black; }

.search-bar {
  position: relative;
  width: 300px; }
  .search-bar input {
    width: 100%;
    border: 2px solid #f0ad4e; }
  .search-bar .icon {
    background: none;
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 20px; }

.logo {
  margin-right: 5px; }

.idea {
  margin-top: 2rem !important; }

.vote-count-box {
  background: #ece6ff;
  line-height: 60px;
  width: 60px;
  text-align: center;
  display: block;
  border: 2px solid black; }
  .vote-count-box .vote-count {
    text-align: center;
    font-size: 3rem; }

.voting-buttons {
  margin-top: 5px; }
  .voting-buttons .btn {
    margin: 2px; }

.comment-list {
  margin-top: 6rem; }
  .comment-list ul li {
    border: 1px solid lightgray;
    padding: 5px; }
  .comment-list .comment-title {
    font-size: 2rem;
    margin-bottom: 0px; }
  .comment-list .comment-age {
    font-size: 1rem; }
  .comment-list .comment-icon {
    font-size: 3rem; }

.success-notice {
  color: green;
  font-weight: bold; }
